<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>chest2.png</key>
		<dict>
			<key>x</key>
			<integer>518</integer>
			<key>y</key>
			<integer>324</integer>
			<key>width</key>
			<integer>67</integer>
			<key>height</key>
			<integer>72</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>67</integer>
			<key>originalHeight</key>
			<integer>75</integer>
		</dict>
		<key>rcoral.png</key>
		<dict>
			<key>x</key>
			<integer>649</integer>
			<key>y</key>
			<integer>324</integer>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>34</integer>
			<key>offsetX</key>
			<real>-1.5</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<integer>67</integer>
			<key>originalHeight</key>
			<integer>38</integer>
		</dict>
		<key>star2.png</key>
		<dict>
			<key>x</key>
			<integer>715</integer>
			<key>y</key>
			<integer>324</integer>
			<key>width</key>
			<integer>44</integer>
			<key>height</key>
			<integer>25</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>44</integer>
			<key>originalHeight</key>
			<integer>25</integer>
		</dict>
		<key>stone1.png</key>
		<dict>
			<key>x</key>
			<integer>785</integer>
			<key>y</key>
			<integer>324</integer>
			<key>width</key>
			<integer>42</integer>
			<key>height</key>
			<integer>14</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-2.5</real>
			<key>originalWidth</key>
			<integer>42</integer>
			<key>originalHeight</key>
			<integer>19</integer>
		</dict>
		<key>stone2.png</key>
		<dict>
			<key>x</key>
			<integer>761</integer>
			<key>y</key>
			<integer>324</integer>
			<key>width</key>
			<integer>22</integer>
			<key>height</key>
			<integer>16</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>23</integer>
			<key>originalHeight</key>
			<integer>17</integer>
		</dict>
		<key>chest1.png</key>
		<dict>
			<key>x</key>
			<integer>412</integer>
			<key>y</key>
			<integer>324</integer>
			<key>width</key>
			<integer>104</integer>
			<key>height</key>
			<integer>79</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>104</integer>
			<key>originalHeight</key>
			<integer>80</integer>
		</dict>
		<key>back12.png</key>
		<dict>
			<key>x</key>
			<integer>2</integer>
			<key>y</key>
			<integer>2</integer>
			<key>width</key>
			<integer>485</integer>
			<key>height</key>
			<integer>320</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>485</integer>
			<key>originalHeight</key>
			<integer>320</integer>
		</dict>
		<key>back22.png</key>
		<dict>
			<key>x</key>
			<integer>489</integer>
			<key>y</key>
			<integer>2</integer>
			<key>width</key>
			<integer>485</integer>
			<key>height</key>
			<integer>320</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>485</integer>
			<key>originalHeight</key>
			<integer>320</integer>
		</dict>
		<key>deadFishy.png</key>
		<dict>
			<key>x</key>
			<integer>693</integer>
			<key>y</key>
			<integer>360</integer>
			<key>width</key>
			<integer>54</integer>
			<key>height</key>
			<integer>32</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>54</integer>
			<key>originalHeight</key>
			<integer>32</integer>
		</dict>
		<key>shells_b.png</key>
		<dict>
			<key>x</key>
			<integer>587</integer>
			<key>y</key>
			<integer>324</integer>
			<key>width</key>
			<integer>30</integer>
			<key>height</key>
			<integer>30</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>30</integer>
			<key>originalHeight</key>
			<integer>30</integer>
		</dict>
		<key>starfish_b.png</key>
		<dict>
			<key>x</key>
			<integer>587</integer>
			<key>y</key>
			<integer>360</integer>
			<key>width</key>
			<integer>104</integer>
			<key>height</key>
			<integer>54</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>104</integer>
			<key>originalHeight</key>
			<integer>54</integer>
		</dict>
		<key>ship.png</key>
		<dict>
			<key>x</key>
			<integer>3</integer>
			<key>y</key>
			<integer>610</integer>
			<key>width</key>
			<integer>266</integer>
			<key>height</key>
			<integer>253</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>268</integer>
			<key>originalHeight</key>
			<integer>254</integer>
		</dict>
		<key>hands1.png</key>
		<dict>
			<key>x</key>
			<integer>693</integer>
			<key>y</key>
			<integer>669</integer>
			<key>width</key>
			<integer>148</integer>
			<key>height</key>
			<integer>94</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>1.5</real>
			<key>originalWidth</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>99</integer>
		</dict>
		<key>hands2.png</key>
		<dict>
			<key>x</key>
			<integer>846</integer>
			<key>y</key>
			<integer>671</integer>
			<key>width</key>
			<integer>148</integer>
			<key>height</key>
			<integer>94</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>1.5</real>
			<key>originalWidth</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>99</integer>
		</dict>
		<key>hands3.png</key>
		<dict>
			<key>x</key>
			<integer>271</integer>
			<key>y</key>
			<integer>610</integer>
			<key>width</key>
			<integer>148</integer>
			<key>height</key>
			<integer>94</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>1.5</real>
			<key>originalWidth</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>99</integer>
		</dict>
		<key>hands4.png</key>
		<dict>
			<key>x</key>
			<integer>846</integer>
			<key>y</key>
			<integer>768</integer>
			<key>width</key>
			<integer>148</integer>
			<key>height</key>
			<integer>94</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>1.5</real>
			<key>originalWidth</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>99</integer>
		</dict>
		<key>hands5.png</key>
		<dict>
			<key>x</key>
			<integer>694</integer>
			<key>y</key>
			<integer>767</integer>
			<key>width</key>
			<integer>148</integer>
			<key>height</key>
			<integer>94</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>1.5</real>
			<key>originalWidth</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>99</integer>
		</dict>
		<key>hands6.png</key>
		<dict>
			<key>x</key>
			<integer>271</integer>
			<key>y</key>
			<integer>706</integer>
			<key>width</key>
			<integer>148</integer>
			<key>height</key>
			<integer>94</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>1.5</real>
			<key>originalWidth</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>99</integer>
		</dict>
		<key>hands7.png</key>
		<dict>
			<key>x</key>
			<integer>755</integer>
			<key>y</key>
			<integer>864</integer>
			<key>width</key>
			<integer>148</integer>
			<key>height</key>
			<integer>94</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>1.5</real>
			<key>originalWidth</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>99</integer>
		</dict>
		<key>hands8.png</key>
		<dict>
			<key>x</key>
			<integer>605</integer>
			<key>y</key>
			<integer>864</integer>
			<key>width</key>
			<integer>148</integer>
			<key>height</key>
			<integer>94</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>1.5</real>
			<key>originalWidth</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>99</integer>
		</dict>
		<key>hands9.png</key>
		<dict>
			<key>x</key>
			<integer>455</integer>
			<key>y</key>
			<integer>864</integer>
			<key>width</key>
			<integer>148</integer>
			<key>height</key>
			<integer>94</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>1.5</real>
			<key>originalWidth</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>99</integer>
		</dict>
		<key>hands10.png</key>
		<dict>
			<key>x</key>
			<integer>305</integer>
			<key>y</key>
			<integer>864</integer>
			<key>width</key>
			<integer>148</integer>
			<key>height</key>
			<integer>94</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>1.5</real>
			<key>originalWidth</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>99</integer>
		</dict>
		<key>hands11.png</key>
		<dict>
			<key>x</key>
			<integer>154</integer>
			<key>y</key>
			<integer>865</integer>
			<key>width</key>
			<integer>148</integer>
			<key>height</key>
			<integer>94</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>1.5</real>
			<key>originalWidth</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>99</integer>
		</dict>
		<key>hands12.png</key>
		<dict>
			<key>x</key>
			<integer>4</integer>
			<key>y</key>
			<integer>865</integer>
			<key>width</key>
			<integer>148</integer>
			<key>height</key>
			<integer>94</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>1.5</real>
			<key>originalWidth</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>99</integer>
		</dict>
		<key>hands13.png</key>
		<dict>
			<key>x</key>
			<integer>2</integer>
			<key>y</key>
			<integer>514</integer>
			<key>width</key>
			<integer>148</integer>
			<key>height</key>
			<integer>94</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>1.5</real>
			<key>originalWidth</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>99</integer>
		</dict>
		<key>hands14.png</key>
		<dict>
			<key>x</key>
			<integer>2</integer>
			<key>y</key>
			<integer>419</integer>
			<key>width</key>
			<integer>148</integer>
			<key>height</key>
			<integer>94</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>1.5</real>
			<key>originalWidth</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>99</integer>
		</dict>
		<key>hands15.png</key>
		<dict>
			<key>x</key>
			<integer>2</integer>
			<key>y</key>
			<integer>324</integer>
			<key>width</key>
			<integer>148</integer>
			<key>height</key>
			<integer>94</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>1.5</real>
			<key>originalWidth</key>
			<integer>150</integer>
			<key>originalHeight</key>
			<integer>99</integer>
		</dict>
		<key>body.png</key>
		<dict>
			<key>x</key>
			<integer>430</integer>
			<key>y</key>
			<integer>575</integer>
			<key>width</key>
			<integer>85</integer>
			<key>height</key>
			<integer>73</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>85</integer>
			<key>originalHeight</key>
			<integer>73</integer>
		</dict>
		<key>fin_1.png</key>
		<dict>
			<key>x</key>
			<integer>549</integer>
			<key>y</key>
			<integer>605</integer>
			<key>width</key>
			<integer>13</integer>
			<key>height</key>
			<integer>12</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>13</integer>
			<key>originalHeight</key>
			<integer>12</integer>
		</dict>
		<key>fin_2.png</key>
		<dict>
			<key>x</key>
			<integer>548</integer>
			<key>y</key>
			<integer>590</integer>
			<key>width</key>
			<integer>13</integer>
			<key>height</key>
			<integer>12</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>13</integer>
			<key>originalHeight</key>
			<integer>12</integer>
		</dict>
		<key>fin_3.png</key>
		<dict>
			<key>x</key>
			<integer>549</integer>
			<key>y</key>
			<integer>577</integer>
			<key>width</key>
			<integer>13</integer>
			<key>height</key>
			<integer>12</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>13</integer>
			<key>originalHeight</key>
			<integer>12</integer>
		</dict>
		<key>fin_4.png</key>
		<dict>
			<key>x</key>
			<integer>531</integer>
			<key>y</key>
			<integer>635</integer>
			<key>width</key>
			<integer>13</integer>
			<key>height</key>
			<integer>12</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>13</integer>
			<key>originalHeight</key>
			<integer>12</integer>
		</dict>
		<key>fin_5.png</key>
		<dict>
			<key>x</key>
			<integer>531</integer>
			<key>y</key>
			<integer>621</integer>
			<key>width</key>
			<integer>13</integer>
			<key>height</key>
			<integer>12</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>13</integer>
			<key>originalHeight</key>
			<integer>12</integer>
		</dict>
		<key>fin_6.png</key>
		<dict>
			<key>x</key>
			<integer>532</integer>
			<key>y</key>
			<integer>606</integer>
			<key>width</key>
			<integer>13</integer>
			<key>height</key>
			<integer>12</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>13</integer>
			<key>originalHeight</key>
			<integer>12</integer>
		</dict>
		<key>fin_7.png</key>
		<dict>
			<key>x</key>
			<integer>517</integer>
			<key>y</key>
			<integer>620</integer>
			<key>width</key>
			<integer>13</integer>
			<key>height</key>
			<integer>12</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>13</integer>
			<key>originalHeight</key>
			<integer>12</integer>
		</dict>
		<key>fin_8.png</key>
		<dict>
			<key>x</key>
			<integer>517</integer>
			<key>y</key>
			<integer>607</integer>
			<key>width</key>
			<integer>13</integer>
			<key>height</key>
			<integer>12</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>13</integer>
			<key>originalHeight</key>
			<integer>12</integer>
		</dict>
		<key>fin_9.png</key>
		<dict>
			<key>x</key>
			<integer>534</integer>
			<key>y</key>
			<integer>592</integer>
			<key>width</key>
			<integer>13</integer>
			<key>height</key>
			<integer>12</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>13</integer>
			<key>originalHeight</key>
			<integer>12</integer>
		</dict>
		<key>fin_10.png</key>
		<dict>
			<key>x</key>
			<integer>517</integer>
			<key>y</key>
			<integer>592</integer>
			<key>width</key>
			<integer>13</integer>
			<key>height</key>
			<integer>12</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>13</integer>
			<key>originalHeight</key>
			<integer>12</integer>
		</dict>
		<key>fin_11.png</key>
		<dict>
			<key>x</key>
			<integer>533</integer>
			<key>y</key>
			<integer>577</integer>
			<key>width</key>
			<integer>13</integer>
			<key>height</key>
			<integer>12</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>13</integer>
			<key>originalHeight</key>
			<integer>12</integer>
		</dict>
		<key>fin_12.png</key>
		<dict>
			<key>x</key>
			<integer>517</integer>
			<key>y</key>
			<integer>576</integer>
			<key>width</key>
			<integer>13</integer>
			<key>height</key>
			<integer>12</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>13</integer>
			<key>originalHeight</key>
			<integer>12</integer>
		</dict>
		<key>fin_13.png</key>
		<dict>
			<key>x</key>
			<integer>546</integer>
			<key>y</key>
			<integer>634</integer>
			<key>width</key>
			<integer>13</integer>
			<key>height</key>
			<integer>12</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>13</integer>
			<key>originalHeight</key>
			<integer>12</integer>
		</dict>
		<key>fin_14.png</key>
		<dict>
			<key>x</key>
			<integer>548</integer>
			<key>y</key>
			<integer>619</integer>
			<key>width</key>
			<integer>13</integer>
			<key>height</key>
			<integer>12</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>13</integer>
			<key>originalHeight</key>
			<integer>12</integer>
		</dict>
		<key>fin_15.png</key>
		<dict>
			<key>x</key>
			<integer>517</integer>
			<key>y</key>
			<integer>635</integer>
			<key>width</key>
			<integer>13</integer>
			<key>height</key>
			<integer>12</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>13</integer>
			<key>originalHeight</key>
			<integer>12</integer>
		</dict>
	</dict>
</dict>
</plist>
